body {
  background-image: url(img/background.jpg);
  background-size: 1920px 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

img {
  width: 25%;
  height: 25%;
}

main {
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 85px;
  padding-bottom: 150px;
  margin: 25px;
}

h1 {
  color: #00dd00;
  margin:5px;
  font-family: sans-serif;
}

h2 {
  display: inline-block;
}

span {
  display: block;
}

header {
  text-align: center;
}

div {
  color: white;
  font-family: sans-serif;
}

.contenitore {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottoni {
  background-color: #00dd00;
  padding-top: 10px;
  padding-bottom: 10px;
}

.barracarica {
  height: 25px;
  border-radius: 5px;
}

#energiagino22 {
  width: 300px;
  background: #f5b453;
}

#energiamike24 {
  width: 500px;
  background: #1ec31e;
}

#energiafede154 {
  width: 150px;
  background: #be4141 ;
}

* {
  margin: 5px;
}
